---
layout: layouts/base.njk
title: "Login"
permalink: /roll-a-d6-to-login/
---




<div class="container">
	<h1 class="mb-5">Login</h1>

	<form id="roll-a-d6-to-login" method="POST">
		<div class="form-group mb-5">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" value="zachary.voss@gmail.com">
		</div><!-- end form group -->

		<div class="form-group mb-5">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password">
		</div><!-- end form group -->

		{% include "_includes/components/toast.njk" %}

		<div class="form-group mb-5">
			<button type="submit" class="btn btn-primary" name="submit">Log In!</button>
		</div><!-- end form group -->
	</form>
</div><!-- end container -->



