---
layout: layouts/base.njk
title: "Confirm Your Registration"
permalink: /roll-a-d20-to-register/confirm/
---




<div class="container">
	<h1 class="mb-5">Successful Registration</h1>
	<p>Thank you for registering. You have been emailed a confirmation link. Please click that to complete your account.</p>
</div><!-- end container -->



