---
layout: layouts/base.njk
title: "Confirm Your Registration"
permalink: /roll-a-d20-to-register/complete/
---




<div class="container">
	<h1 class="mb-5">Registration Completed</h1>
	<p>Thank you for registering! You can log in by clicking here: <a href="/roll-a-d6-to-login/" class="btn btn-primary">Login Page</a></p>
</div><!-- end container -->



