---
layout: layouts/base.njk
title: "Dashboard - Starting Zone"
permalink: /starting-zone/
---




<div class="container">
	<h1 class="">Dashboard</h1>
	<h2 class="mb-5">Starting Zone</h2>



	<div class="row">

		<div class="col-xl-4 mb-5">
			<div class="{{ css.card }}">
				<h3>Characters</h3>
				<ul>
					<li><a href="/starting-zone/character/view/#12345">Axin</a></li>
					<li><a href="/starting-zone/character/view/#45678">Podo</a></li>
				</ul>

				<div class="mt-auto"><a href="/starting-zone/character/create/" class="btn btn-primary">Create a New Character</a></div>
			</div><!-- end card -->
		</div><!-- end col -->

		<div class="col-xl-4 mb-5">
			<div class="{{ css.card }}">
				<h3>Playing In</h3>
				<ul>
					<li><a href="/starting-zone/campaign/view/#1597830">The Dark Enchantment</a></li>
				</ul>

				<div class="mt-auto">
					<a href="/starting-zone/campaign/join/" class="btn btn-primary">Join a Campaign</a>
				</div>
			</div><!-- end card -->
		</div><!-- end col -->

		<div class="col-xl-4 mb-5">
			<div class="{{ css.card }}">
				<h3>Your Campaigns</h3>
				<ul>
					<li><a href="/starting-zone/campaign/view/#1597830">The King's Festival</a></li>
				</ul>

				<div class="mt-auto">
					<a href="/starting-zone/campaign/create/" class="btn btn-primary">Create a New Campaign</a>
				</div>
			</div><!-- end card -->
		</div><!-- end col -->


		<div class="col-xl-4 mb-5">
			<div class="{{ css.card }}">
				<h3>Settings</h3>
				<div class="">
					<a href="/starting-zone/settings/" class="btn btn-primary">View your settings</a>
				</div>
			</div><!-- end card -->
		</div><!-- end col -->

	</div><!-- end row -->
</div><!-- end container -->



