---
layout: layouts/base.njk
title: "Your Account Settings"
permalink: /starting-zone/settings/
---




<div class="container">
	<h1 class="mb-5">Settings</h1>

	<div>Animations: <button type="button" class="btn btn-primary ml-4" data-settings="animations"></button></div>
</div><!-- end container -->



