---
layout: layouts/rules.njk
title: "Quickstart"
permalink: /rules/
---


<p>After registering an account, you can create a character on your profile page or by clicking on "Account" at the bottom
	navigation bar and clicking the "New Character" button. Once your character is created, a Dungeon Master can invite
	you to join a campaign or you can create a campaign yourself!</p>
<p>When you create a new character, you will be given six ability points. You can place these anywhere you like by
	clicking on the birthday cake icon <i class='fas fa-birthday-cake'></i>.</p>
<p>Your health is randomized and will be different with each character.</p>
