---
layout: layouts/rules.njk
title: "Classes"
permalink: /rules/classes/
---

<div class="row">
	<div class="h4 col-xl-4 mb-4"><div class="{{ css.card }}">Warrior</div></div>
	<div class="h4 col-xl-4 mb-4"><div class="{{ css.card }}">Ranger</div></div>
	<div class="h4 col-xl-4 mb-4"><div class="{{ css.card }}">Cleric</div></div>
	<div class="h4 col-xl-4 mb-4"><div class="{{ css.card }}">Druid</div></div>
	<div class="h4 col-xl-4 mb-4"><div class="{{ css.card }}">Mage</div></div>
	<div class="h4 col-xl-4 mb-4"><div class="{{ css.card }}">Seer</div></div>
</div><!-- end row -->

