---
layout: layouts/rules.njk
title: "Leveling Up"
permalink: /rules/leveling-up/
---


<h3>Leveling Up</h3>
<p>When your character levels up, your character's health increases and you are granted two ability points. You can spend
	these by clicking on the birthday cake icon <i class='fas fa-birthday-cake'></i>.</p>
