---
layout: layouts/rules.njk
title: "Skill Checks"
permalink: /rules/skill-checks/
---


<h3>Skill Checks</h3>

<p>When a character attempts a skill/spell check, 1d20 is rolled then added to the corresponding ability score.
	Skill/spell checks fall into five categories:</p>
<ul>
	<li>Easy: <code>must roll a 2 or higher</code></li>
	<li>Average: <code>must roll a 6 or higher</code></li>
	<li>Challenging: <code>must roll an 12 or higher</code></li>
	<li>Expert: <code>must roll a 20 or higher</code></li>
	<li>Impossible: <code>must roll a 40 or higher</code></li>
</ul>
<p>If a 20 is rolled, the player can roll the d20 again and add the numbers together.</p>
