---
layout: layouts/base.njk
title: "Create a Campaign"
permalink: /starting-zone/campaign/create/
---




<div class="container">
	<h1 class="mb-5">Create a Campaign</h1>

	<form id="campaign-create" method="POST">
		<div class="form-group mb-5">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name">
		</div><!-- end group -->

		<div class="form-group mb-5">
			<p>Class</p>
			<div class="btn-group btn-group-toggle d-flex flex-wrap" data-toggle="buttons">
				<label class="btn btn-primary d-block w-100 text-left rounded-0 m-0">
					<input type="radio" name="campaign-class" id="class-warrior">Fantasy
				</label>

				<label class="btn btn-primary d-block w-100 text-left rounded-0 m-0">
					<input type="radio" name="campaign-class" id="class-rogue">Sci-Fi
				</label>
			</div><!-- end button group -->
		</div><!-- end group -->

		<div class="form-group mb-5">
			<p>Size</p>
			<div class="btn-group btn-group-toggle d-flex flex-wrap" data-toggle="buttons">
				<label class="btn btn-primary d-block w-100 text-left rounded-0 m-0">
					<input type="radio" name="campaign-size" id="size-short">Short
				</label>

				<label class="btn btn-primary d-block w-100 text-left rounded-0 m-0">
					<input type="radio" name="campaign-size" id="size-average">Long
				</label>
			</div><!-- end button group -->
		</div><!-- end group -->

		<div class="form-group mb-5">
			<button type="submit" class="btn btn-primary">Create Campaign</button>
		</div>
	</form>
</div><!-- end container -->



