---
layout: layouts/post.njk
title: Battleborn Beta Launch
description: "First beta launch of the new Battleborn platform"
date: "2020-10-04"
tags:
  - "launch"
---

<p>Announcing the tenth version of Battleborn! Completely rebuilt to provide a better and funner experience than ever before.</p>
