---
layout: layouts/base.njk
title: "Your Character"
permalink: /starting-zone/character/view/
spellsheet: true
---



<div class="container">
	<h1 class="mb-5">Your Character {% dataLoad "name" %}</h1>

	<div class="row grid-light-padding even-column-spacing">

		<div class="col-xl-6 h-100">
			<div class="row">
				<div class="col-xl-auto mb-3">
					<div class="{{ css.card }}">
						<p class="font-weight-bold">Info</p>
						<p>Level: {% dataLoad "level" %}</p>
						<p>Class: {% dataLoad "class" %}</p>
						<p>Speed: {% dataLoad "speed" %} squares</p>
					</div><!-- end card -->
				</div><!-- end col -->

				<div class="col-xl mb-3">
					<div class="{{ css.card }}">
						<p class="font-weight-bold">Health</p>
						<output for="healthSlider" class="h4 mb-0" id="healthSliderOutput">{% dataLoad "currentHP" %}</output>
						<div class="form-group mb-3">
							<label for="healthSlider" class="sr-only">Health Slider</label>
							<input type="range"
								   class="form-control"
								   id="healthSlider"
								   name="healthSlider"
								   min="0"
								   max="5"
								   step="1">
						</div><!-- end form group -->

						<div class="input-group">
							<div class="input-group-prepend w-100" style="max-width: 85px;">
								<button class="btn btn-primary w-100 px-0"
										type="button"
										id="health-reduce">Reduce</button>
							</div><!-- end button -->

							<input type="number"
								   class="form-control text-center"
								   id="health-input"
								   placeholder="0"
								   value="0"
								   min="0"
								   aria-label="Increase or decrease your health">

							<div class="input-group-append w-100" style="max-width: 85px;">
								<button class="btn btn-primary w-100 px-0"
										type="button"
										id="health-increase">Increase</button>
							</div><!-- end button -->
						</div>
					</div><!-- end card -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end col -->

		<div class="col-xl-6 h-100">
			<div class="row">
				<div class="col-xl-auto mb-3">
					<div class="{{ css.card }}">
						<p class="font-weight-bold">Armor</p>
						<p>Physical: {% dataLoad "physicalArmor" %}</p>
						<p>Magic: {% dataLoad "magicArmor" %}</p>
					</div><!-- end card -->
				</div><!-- end col -->

				<div class="col-xl mb-3">
					<div class="{{ css.card }}">
						<p class="font-weight-bold">Physical Attributes</p>
						<p>Str: {% dataLoad "str" %}</p>
						<p>Dex: {% dataLoad "dex" %}</p>
						<p>Con: {% dataLoad "con" %}</p>
					</div><!-- end card -->
				</div><!-- end col -->

				<div class="col-xl-auto mb-3">
					<div class="{{ css.card }}">
						<p class="font-weight-bold">Magic Attributes</p>
						<p>Int: {% dataLoad "int" %}</p>
						<p>Wis: {% dataLoad "wis" %}</p>
						<p>Cha: {% dataLoad "cha" %}</p>
					</div><!-- end card -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end col -->






		<div class="col-xl-6 mb-3">
			<div class="{{ css.card }}">
				<p class="font-weight-bold mb-4">Equipment</p>

				<div class="row text-center mb-4">
					<div class="col-4">
						<p class="small">Weapon</p>
						<button type="button" class="btn border p-4" data-equipment="weapon">{% spinner %}</button>
					</div><!-- end col -->

					<div class="col-4">
						<p class="small">Armor</p>
						<button type="button" class="btn border p-4" data-equipment="armor">{% spinner %}</button>
					</div><!-- end col -->

					<div class="col-4">
						<p class="small">Accessory</p>
						<button type="button" class="btn border p-4" data-equipment="accessory">{% spinner %}</button>
					</div><!-- end col -->
				</div><!-- end row -->

				<div id="equipment-details" style="display: none;">
					<p class="font-weight-bold">Equipment Details</p>
					<p data-equipment-details="name">Name: <span></span></p>
					<p data-equipment-details="description">Description: <span></span></p>
					<p data-equipment-details="damageDice">Damage Dice: <span></span></p>
					<p data-equipment-details="damageBonus">Damage Bonus: +<span></span></p>
					<p data-equipment-details="physicalArmor">Physical Armor: +<span></span></p>
					<p data-equipment-details="magicArmor">Magic Armor: +<span></span></p>
					<p data-equipment-details="price">Price: <span></span></p>
				</div><!-- end details -->

			</div><!-- end equipment -->
		</div><!-- end col -->


		<div class="col-xl-6 mb-3">
			<div class="{{ css.card }}">
				<div class="d-flex justify-content-between mb-4">
					<p class="font-weight-bold mb-0">Spells</p>
					<button class="btn btn-sm" id="spellsheet-toggle" type="button">Show All</button>
				</div><!-- end flex -->

				<div id="spellsheet">{% spinner %}</div>
			</div><!-- end spells -->
		</div><!-- end col -->


		<div class="col-xl-12 mb-5">
			<div class="{{ css.card }}">
				<p class="font-weight-bold mb-0">Inventory</p>
				<div id="inventory"></div>
			</div><!-- end card -->
		</div><!-- end col -->

	</div><!-- end row -->








</div><!-- end container -->



