body {
	min-height: 101vh;
	background-color: #222222;
	color: #eeeeee;
}
a, button {
	color: #2ecc71;
}
.card {
	background-color: #000;
}
.spinner-border {
	width: 1em;
	height: 1em;
	font-size: 1em;
}

[data-load="class"] {
	text-transform: capitalize;
}

.opacity-50 {
	opacity: 0.5;
}

#spellsheet {
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}
