<footer class="container-fluid text-center">

	{#<form class="mb-5" method="get" action="https://duckduckgo.com/site:{{ metadata.url }}">
		<input type="text" class="form-control" size="40" name="q">
		<button class="btn btn-primary" name="search">Search</button>
	</form>#}

	<div class="small">
		<div>Icons, photos, and graphics made by</div>
		<div>
			<a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a>, <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a>, <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, and <span><a href="https://unsplash.com/@aznbokchoy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Lucas Benjamin</a></span></div>
		<div>from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> and <a href="https://unsplash.com/s/photos/color?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></div>
	</div>

</footer>

{% include "_includes/components/footer-js-tags.njk" %}
