<footer class="container-fluid text-center">

	<div class="small">
		<div>Icons made by</div>
		<div>
			<a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a>, <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a>, and <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a></div>
		<div>from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	</div>

</footer>

{% include "_includes/components/footer-js-tags.njk" %}
