<header class="container">
	<div class="row justify-content-between py-3 mb-5">
		<h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

		<div>
			<a href="/" class="btn btn-link">Home</a>
			<a href="/posts/" class="btn btn-link">Posts</a>
			<a href="/roll-a-d6-to-login/" class="btn btn-link">Login</a>
			<a href="/roll-a-d20-to-register/" class="btn btn-link">Register</a>
			<a href="/starting-zone/" class="btn btn-link">Account</a>
		</div>
	</div><!-- end row -->
</header><!-- end container -->
