<header class="container">
	<div class="row justify-content-between py-3 mb-5">
		<h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

		<div>
			<a href="/" class="btn">Home</a>
			<a href="/posts/" class="btn">Posts</a>
			<a href="/about/" class="btn">About</a>
			<a href="/rules/" class="btn">Rules</a>
			<a href="/roll-a-d6-to-login/" class="btn" data-visible="unauth">Login</a>
			<a href="/roll-a-d20-to-register/" class="btn" data-visible="unauth">Register</a>
			<a href="/starting-zone/" class="btn" data-visible="auth">Account</a>
			<a href="/roll-a-d100-to-log-out/" class="btn" data-visible="auth">Log out</a>
		</div>
	</div><!-- end row -->
</header><!-- end container -->
