---
layout: layouts/base.njk
title: "About"
permalink: /about/
---

<div class="container">
	<h1>About</h1>

	<section class="mb-4">
		<h2>Tabletop RPG</h2>
		<p>A tabletop role-playing game (or pen-and-paper role-playing game) is a form of role-playing game (RPG) in which the participants describe their characters' actions through speech. Participants determine the actions of their characters based on their characterization,<sup>[1]</sup> and the actions succeed or fail according to a set formal system of rules and guidelines. Within the rules, players have the freedom to improvise; their choices shape the direction and outcome of the game.<sup>[2]</sup></p>

		<ol class="small">
			<li>Kim, John. <a href="http://www.darkshire.net/~jhkim/rpg/whatis/" target="_blank">"What is a Role-Playing Game?"</a></li>
			<li>Kim, John. <a href="http://www.darkshire.net/~jhkim/rpg/whatis/tabletop.html" target="_blank">""Narrative" or "Tabletop" RPGs"</a></li>
			<li>Wikipedia: <a href="https://en.wikipedia.org/wiki/Tabletop_role-playing_game" target="_blank">Tabletop Role Playing Game</a></li>
		</ol>
	</section><!-- end section -->


	<section class="mb-4">
		<h2>Setting</h2>
		<p>Battleborn is a fantasy based game where magic and conflict are as common as the water in the oceans. Multiple gods, good and evil, rule from afar, only interfering when their interest is peaked by the mortals beneath them. Cities, large and small, scatter the planet. Some filled with just a few people, others number by the thousands.</p>
	</section><!-- end section -->


	<section class="mb-4">
		<h2>Characters</h2>
		<p>Characters are created to play in the story that the Dungeon Master crafts. This character can have any kind of personality or can mirror the personality of the player!</p>
	</section><!-- end section -->


	<section class="mb-4">
		<h2>Campaigns</h2>
		<p>Campaigns are created by the Dungeon Master and played with other players. Campaigns can have any number of players, whether its one or fifteen. This is up to the dungeon master to decide.</p>
	</section><!-- end section -->


	<section class="mb-4">
		<h2>Dungeon Master</h2>
		<p>The Dungeon Master (or Game Master) creates and directs the campaigns that players participate in. They are responsible keeping the campaign adaptable if players take a different direction than the story was written for.</p>
	</section><!-- end section -->
</div><!-- end container -->
