<!doctype html>
<html lang="en">

{% include "_includes/components/head-primary.njk" %}

<body>
{% include "_includes/components/header-nav.njk" %}

<main class="pb-5 mb-5">
	{{ content | safe }}
</main>


{% include "_includes/components/footer.njk" %}
</body>
</html>
